@media screen and (max-width:1024px){
    .subContainer .leftArea {
        width: 22%;
    }
    .subContainer .rightArea {
        width: 58%;
    }
    .section {
        width: 85%;
        margin: 0 auto;
        height: auto;
    }
    .section .leftArea {
        width: 413px;
        float: left;
    }
}

@media screen and (max-width:768px){
    .subContainer .leftArea {
        width: 50%;
        float: none;
        margin: auto;
        margin-bottom: 12px;
    }
    .subContainer .rightArea {
        width: 75%;
        float: none;
        margin: auto;

    }
    .email {
        width: 100%;
        float: none;
    }
    .password {
        width: 100%;
        float: none;
    }
    #submit{
        margin-top: 10px;
    }
    .subContainer .rightArea input {
        width: 100%;
    }
    .section .leftArea {
        width: 69%;
        float: none;
        margin: auto;
        text-align: center;
    }
    main .rightArea {
        float: none;
        width: 80%;
        margin: auto;
    }
    .from1stRow {
        width: 100%;
    }
    .from1stRow input {
        width: 49%;
    }
    #FirstName {
        margin-right: 6px;
    }
    .footerSection {
        width: 80%;
    }
}

@media screen and (max-width:540px){
    .paragraph {
        font-size: 15px;
    }
    .fromHeading {
       font-size: 27px;
    }
    .terms {
      font-size: 11px;
    }
    .from1stRow input {
        width: 100%;
    }
    #FirstName {
        margin-right: 0px;
    }
    #LastName {

        margin-bottom: 10px;
    }
    .singUpBtn{
        margin: 10px auto;
        display: inherit;
    }
    .day{
        width: 69px;
    }
    .month{
        width: 70px;
    }
    .year{
        width: 75px;
    }
    .radio {
        margin-right: 5px;
    }
    .fromHeading {
        font-size: 30px;
    }
    .footerSection {
       text-align: center;
    }
}

